@media only screen and (min-width: 770px) {
  #bio-image {
    border-radius: 5px;
    height: 300px;
    width: 325px;
  }
}

@media only screen and (min-width: 415px) {
  #bio-image {
    border-radius: 5px;
    height: auto;
    width: 300px;
    margin-top: 28px;
  }

  #introtext {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 414px) {
  #bio-image {
    border-radius: 5px;
    height: auto;
    width: 300px;
  }

  #introtext {
    margin-top: 20px;
  }
}
